/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
    
body {
    background-size: cover;
    line-height: 1.2;
}
    
ul, li {
    list-style: none;
}
    
img {
    display: block;
    width: 100%;
    height: auto;
}
    
a {
    text-decoration: none;
    text-transform: uppercase;
}
    
h1, h2, h3 {
    text-transform: uppercase;
    white-space: pre-line;
}
  
p {
    text-transform: none;
}
  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*--------------------header-------------------------*/

.header {
    margin: 0 auto;    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( 0deg, rgba(251, 226, 137, 0.9) 0%, rgb(243, 138, 129, 0.9) 100% ),
    url(../image/header/eagle.png);
}

.header__indentation {
    padding: 30px 0px 230px 0;
}

@media(min-resolution: 192dpi) {
    .header {
      background-image: linear-gradient( 0deg, rgba(251, 226, 137, 0.9) 0%, rgb(243, 138, 129, 0.9) 100% ),
      url(../image/header/eagle@2x.png);
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logotipe {
    text-transform: none;  
    font-family: 'Montserrat';
    font-size: 1.875rem;
    font-weight: 700;
    color: #ffffff;
}


.navigation__menu {
    display: flex;
    align-items: baseline;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
}


.navigation__item {
    margin-right: 50px;
    position: relative;
}

.navigation__link {
    text-decoration: none;  
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 400;
    color: #ffffff;
}

.navigation__link:hover {
    color: #fce38a;
    transition: color 0.2s linear;
}

.navigation__link:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
} 
  
.navigation__link::after {
    content: "";
    display: block;
    background-color: #fce38a;
    width: 0%;
    height: 3px;
    bottom: -12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.navigation__service-list {
    display: flex; 
 }

.navigation__service-item:not(:last-child) {
    margin-right: 40px;
    position: relative;
}

.navigation__service-link--icon {
    fill: #ffffff;
}

.navigation__service-link--icon:hover {
    fill: #fce38a;
    transition: color 0.2s linear;
}

.navigation__service-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.hero {
    margin: 0 auto;
}

.hero__title {
    margin: 0;
    padding-bottom: 120px;
    text-align: center;      
    font-family: 'Montserrat';
    font-size: 9.375rem;
    font-weight: 700;
    color: #ffffff;
}

.hero__title-effect {
    margin: 0;
    font-family: 'Kaushan Script';
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: none;
}

.hero__button {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid #ffffff;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.hero__button:hover {
    color: #fA8072;
    border-color: #fA8072;
    transition: color 0.2s linear;
}

/*---------------------main----------------*/

.main {
    margin: 0px auto;
    padding: 46px 0 46px 0;
}

.service {
    margin-bottom: 46px;
}
/*-----------------------------------------*/
.service__title, .our-team__title {
    text-align: center;      
    font-family: 'Montserrat';
    font-size: 1.875rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 60px;
}

.service__title:after {
    content: "";
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
}

.service__title-effect, .our-team__title-effect {
    font-family: 'Kaushan Script';
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
}

/*------------------------------service--------------------*/

.service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-card {
    width: 334px;
    display: flex;
}

.service-card:not(:nth-last-child(-n+3)) {
    margin-bottom: 100px;
}

.service-card__box {
    margin: 5px 30px 0 0;
}

.service-card__box--icon {
    fill: #95e1d3;
}

.service-card__title {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 400;
    color: #333333;
}

.service-card__text {
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 400;
    color: #999999;
}

/*------------------------team-----------------*/

.our-team__title:after {
    content: "";
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
}

.our-team__text {
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 400;
    color: #999999;
    margin-bottom: 84px;
}
/*----------------------------------*/
.our-team__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.our-team__item {
    width: 380px;
    position: relative;
}

.our-team__item-photo {
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.our-team__item:hover .our-team__item-photo {
    opacity: 0.9;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px #95e1d3;
}

.overlay {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 380px;
    height: 472px;
    background-image: linear-gradient( 180deg, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9) );
    opacity: 0;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.overlay a:not(:last-of-type) {
    border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.our-team__item:hover .overlay  {
    opacity: 0.9;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px #95e1d3;
}

.socials__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;  
}

.socials__item {  
    width: 56px;
    height: 56px;   
    background-color: rgb( 252, 227, 138);
    border-right: 1px solid  rgba(243, 129, 129, 0.9); 
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.socials__item:nth-child(4n) {
    border-right: none
}

.socials__item:hover {
    background-color: #f38181;
    transition: all 0.2s linear;
}

.socials__link{
    align-self: center;
}

.socials__icon {
    fill: #f38181;
}

.socials__item:hover .socials__icon {
    fill: #ffffff;
    transition: all 0.2s linear;
}
  
.our-team__item-photo-personality {
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 400;
    color: #333333;
    margin-top: 30px;
    text-transform: uppercase;
}

.our-team__item-photo-description {
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 300;
    color: #999999;
    margin-top: 15px;
}

/*------------------------contact--------------------*/

.footer {
    margin: 0px auto;
    padding: 46px 0 12px 0;
}
 
  .footer__wrapper {
    padding: 10px 0 10px 0; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.875rem;
    color: #333333;
    position: relative;
}
   
.footer__signature a {
    color: #f38181;
    text-transform: none;
}
  
.footer__signature p {
    text-transform: none;
}

.footer__wrapper::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #e7e7e7;
    height: 1px;
    width: 1200px;   
}
  
.contact-form {
    display: flex;
    padding-top: 10px; 
}
  
.contact-form__input {   
    width: 230px;
    height: 40px;  
    padding-left: 12px;
    border: 1px solid #e7e7e7;
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 300;
    outline: none;
}
  
.contact-form__btn {
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgb( 149, 225, 211 );
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 0.875rem;
    text-transform: uppercase;
    outline: none;
    font-weight: 700;
    color: #ffffff;
}